*__pycache__*
*.pyc
data/*
.idea*
bash.sh
kohler/cache/*
*.ipynb
.
*.log
*wandb*
*.DS_Store*
qm9/temp/*
kohler/qm9/temp/*
push.sj
bash_qm9.sh
outputs/*
bash_dw4.sh
bash_qm9pos.sh
bash_qm9_analyze.sh
beautiful_figures/ovito_images/*
*__pycache__
